
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    
    <link href="~/Boostrap/bootstrap.min.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>Q2</title>
</head>
<body>
    <divstyle>>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">_REgNo</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>

                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class=" mr-sm-2">
                    <button class="btn btn-secondary my-2 my-sm-0">Input</button>
                </form>
            </div>
        </nav>
        <div class="jumbotron">
            <h1 class="display-3" style="text-align:center">My Mid Term </h1>
            <p class="lead">
                <h6 style="text-align:center">SOme text represent you</h6>
            </p>
        </div>
        <div>
            <h4 style="text-align:center">Add some animation</h4>

        </div>
        <div class="row">
            <div class="col-sm-3" style="height:100px"></div>
            <div class="col-sm-3" style="height:100px"></div>
            <div class="col-sm-3" style="height:100px"></div>
        </div>

    <div style="height:65px; background-color:lightgrey">
    <h4 style="text-align:center;padding-top:15px"> footer</h4>
    </div>
</body>
</html>
